################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/HelperStockBeta/.vs/HelperStockBeta/FileContentIndex/253820d2-ceb8-410f-9cb5-7ea97526d88a.vsidx
/HelperStockBeta/.vs/HelperStockBeta/FileContentIndex/b7d1ea69-d281-497c-985f-76d6edadb00d.vsidx
/HelperStockBeta/.vs/HelperStockBeta/FileContentIndex/e9aad531-52d2-4da3-bb45-62f22d49a6f3.vsidx
/HelperStockBeta/.vs/HelperStockBeta/FileContentIndex
